/* import font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 1rem;
    padding: 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    /* 300 - 400 */
}

/* centrer alt content */
.container {
    max-width: 1300px;
    width: 100%;

}

main img {
    transition: 400ms ease;
}

main img:hover {
    opacity: .8;
}

/* #region FONTS */
.About-Larm h1,
.About-Larm h2 {
    margin: .5rem 0 0 1rem;
}

.About-Larm h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.content h1 {
    font-size: 1.7rem;
    margin-left: 0;
    transition: 500ms ease;
}

.content a {
    transition: 500ms ease;
    text-decoration: none;

}

.content a:hover {
    padding-right: .5rem;
    letter-spacing: 3px;
    text-decoration: underline;

}

/* #endregion FONTS */

/* #region HEADER */
header {
    padding: 1rem;
    background-color: #c86262;

}

header img {
    width: 100%;
}

/* #endregion HEADER */
/* #region NAVIGATION */
/* flex i flex */
nav {
    /* background-color: #c86262; */
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0 .5rem;
    list-style: none;
}

header ul li {
    padding: .5rem;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: 300ms ease;
    padding: .5rem 1rem;
}

header ul:last-of-type li:first-of-type a {
    background-color: #4d8ac7;
    padding: .5rem;

}

header ul:last-of-type li:last-of-type a {
    background-color: #4dc776;
    padding: .5rem;
}

header ul:last-of-type li {
    padding: .5rem 0;
    /* Adjust padding */
}

/* NAVIGATION HOVER */
header ul li a:hover {
    opacity: .9;
    letter-spacing: 5px;
    background-color: #ad3333;
}

header ul li a:hover {
    border-radius: 10px;
}

header ul:nth-last-child(1) li a:hover {
    border-radius: 0;
}

header ul:nth-last-child(1) li:first-of-type a:hover {
    border-radius: 14px 0 0 14px;
}

header ul:nth-last-child(1) li:last-of-type a:hover {
    border-radius: 0 14px 14px 0;
}

/* #endregion NAVIGATION */


/* #region Dialog 1 */

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 400px;
    height: 350px;
    border: none;
    border: 3px solid #c86262;
    border-radius: 15px;
    margin: 0;
    text-align: center;
}

fieldset h3 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 0 0 1rem 0;
    transition: 400ms ease;
    letter-spacing: 2px;
}

fieldset h3:hover {
    letter-spacing: 7px;
}

fieldset input {
    border-radius: .5rem;
    margin: .5rem;
    padding: 1rem;
    color: #c86262;
    border: 2px solid #c86262;
    background-color: #ddd;
    transition: 400ms ease;
}

fieldset input::placeholder {
    color: #c86262;
}

#txtEmail:focus,
#txtPassword:focus {
    background-color: #c86262;
    color: #ddd;
    border-color: #ddd;
    outline: none;
}

.signIn {
    border-radius: 15px;

}

dialog {
    padding: 0;
    border-radius: 15px;
    background-color: #ffffff3b;
}

.signIn form fieldset div input {
    color: #c86262;
    border: 2px solid #c86262;
    background-color: #eee;
    width: 60%;
    padding: .7rem 1rem;
    border-radius: .3rem;
    margin: auto;
    margin-top: 1.4rem;
    transition: 400ms ease;
    font-size: 1.2rem;
    cursor: pointer;
}

.signIn form fieldset div input:hover {
    background-color: #c86262;
    color: #ddd;
    border-color: #ddd;
    letter-spacing: 7px;
}

dialog span {
    display: block;
    background-color: #ff0000;
    color: #fafafa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: -12px;
    top: -12px;
}

dialog span a {
    color: #ddd;
    padding: 0.3rem;
    text-decoration: none;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(50%);
    }
}

dialog {
    border: none;
    border: 1px solid #333;
    animation: slideFromTop 1.5s ease forwards;
    position: fixed;
    top: 7%;
}

.dialog-content {
    animation: slideDown 0.5s ease forwards;
}

/* JAVASCRIPT VALDIDERING */

fieldset input:invalid {
    border: 2px solid red;
}

fieldset input:valid {
    border: 2px solid green;
}

/* #endregion Dialog */



/* #endregion Dialog 2 */




/* #region ARTIKEL NECESSITIES */
h1 {
    color: #c86262;
    font-weight: 600;
    margin: 1rem;
}

h2 {
    color: #c86262;
    font-weight: 500;
    margin: 1rem;
}

.About-Larm article {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

.About-Larm article img {
    border-radius: 1rem;
}

.About-Larm article h1 {
    color: #e79687;
}

.About-Larm a {
    float: right;
}

.grid-container-1 {
    display: grid;
    gap: 1rem;
}

/*  */
.article-content {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 150px);
}

.About-Larm article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.About-Larm article a {
    display: block;
    float: right;
}

/* grid 2 */
.grid-container-2 {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

.grid-container-2 img {
    border-radius: 1rem;
    cursor: pointer;

}

/* grid 4 TESTIMONIALS*/
.grid-container-4 {
    display: grid;
    padding: 0 0 1rem 0;
}

.grid-container-4 article h1 {
    font-size: 150%;
    margin: 0;
    color: #e79687;
}

.grid-container-4 article a {
    float: right;
}

.grid-container-4 article {
    padding: 1rem;
    border-radius: 1rem;
}

.grid-container-4 article section {
    background-color: #fff;
    padding: 1rem 1rem 2rem 1rem;
}

.grid-container-4 article img {
    background-color: #fff;
    border-radius: 50% 50% 0 0;
    padding: 1rem;
    position: relative;
    top: 5px;
}

/* grid 5 *FOOTER* */
.grid-container-5 {
    background-color: #c86262;
    padding-bottom: 1.3rem;
}

.grid-container-5 h1 {
    color: #fff;
    font-weight: 400;
    font-size: 300%;
}

.grid-container-5 div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-container-5 div ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    position: relative;
    margin: 1rem;
    letter-spacing: 1px;
    transition: 700ms ease;
}

/* hover */
.grid-container-5 div ul li a:hover {
    padding-left: 40px;
    opacity: .8;
}

.grid-container-5 div ul li img {
    position: relative;
    top: 11px;
    left: 0;
    width: 5%;
    height: 5%;
    margin-right: 5px;
    border-radius: 50%;
    transition: transform .7s ease;
}


.grid-container-5 div ul li a:hover img {
    transform: rotate(360deg);
}

/* split */
.grid-container-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/* #endregion */
/* #region CASES */
#favoriteParent {
    width: 97.5%;
    display: grid;

    column-gap: 20px;
    row-gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
}

#favoriteParent .div1 {
    grid-area: 1 / 1 / 2 / 2;
}

#favoriteParent .div2,
#favoriteParent .div3,
#favoriteParent .div4,
#favoriteParent .div5 {
    display: none;
}



#favoriteParent img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

/* #region CASES */
#favoriteParent {
    width: 97.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
}

#favoriteParent .div1 {
    grid-area: 1 / 1 / 2 / 2;
}

#favoriteParent .div2,
#favoriteParent .div3,
#favoriteParent .div4,
#favoriteParent .div5 {
    display: none;
}







/* #endregion CASES */


/* #region MEDIA QUERIES*/
/* phone */
@media (max-width: 905px) {

    /*  */
    .grid-container-5 h1 {
        font-size: 200%;
    }

    footer .grid-container-5 div ul li img {
        width: 19px;
        top: 5px;
    }




    .grid-container-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    nav {
        flex-direction: column;
        padding: 0;
        margin: 0;

    }

    header {
        padding: 0;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    header ul:last-of-type li {
        margin-left: 0;
        transition: 300ms ease;
    }

    header ul li {
        width: 100%;
        margin-left: -8px;
        transition: 300ms ease;
    }

    header ul:last-of-type {
        margin-left: -8px;
        padding-right: 0;
    }


    header ul:first-of-type li:hover a {
        padding-left: 15px;
        margin-left: 10px;
    }

    header ul:last-of-type li:last-of-type {
        background-color: #4dc776;
        margin-left: 8px;
        width: 98.4%;
    }

    /* last of type */
    header ul:last-of-type li:hover {
        opacity: .9;
    }

    header ul:last-of-type li:first-of-type {
        background-color: #4d8ac7;
        margin-left: 8px;
        width: 98.4%;

    }

    header nav ul:last-of-type li:hover a {
        padding-left: 15px;
    }

    /*  */

    #favoriteParent .div2,
    #favoriteParent .div3,
    #favoriteParent .div4,
    #favoriteParent .div5 {
        display: grid;
    }

    #favoriteParent {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #favoriteParent .div1 {
        grid-area: 1 / 1 / 5 / 3;
    }

    #favoriteParent .div2,
    #favoriteParent .div3,
    #favoriteParent .div4,
    #favoriteParent .div5 {
        display: grid;

    }

    .cases {
        grid-template-columns: repeat(1, 1fr);
    }

    #favoriteParent {
        grid-template-columns: repeat(2, 2fr);
    }

}

/* tablet */
@media (min-width: 900px) {



    footer .grid-container-5 div ul li img {
        width: 23px;
        top: 4px;
    }

    footer .grid-container-5 div ul li a {
        font-size: 1.4rem;
    }

    .grid-container-2 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

    }

    .About-Larm article {
        display: flex;
        align-items: center;
    }

    content {
        flex: 1;
    }

    .About-Larm article img {
        max-width: initial;
        width: 25rem;
        margin-right: 20px;
    }

    #favoriteParent {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    #favoriteParent .div1 {
        grid-area: 1 / 1 / 3 / 5;
    }

    #favoriteParent .div2,
    #favoriteParent .div3,
    #favoriteParent .div4,
    #favoriteParent .div5 {
        display: block;
    }

    #favoriteParent {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    #favoriteParent .div1 {
        grid-area: 1 / 1 / 3 / 5;
    }

    #favoriteParent .div2,
    #favoriteParent .div3,
    #favoriteParent .div4,
    #favoriteParent .div5 {
        display: block;
    }

}

/* desktop */
@media (min-width: 1800px) {

    .About-Larm article {
        display: grid;
    }

    content {
        /* flex: 0; */
    }

    .About-Larm article img {
        width: initial;
        margin: 0;
    }

    .grid-container-1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-2 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-container-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1800px) {
        #favoriteParent .div1 {
            grid-area: 1 / 1 / 3 / 3;
        }

        #favoriteParent .div2 {
            grid-area: 1 / 3 / 2 / 4;
        }

        #favoriteParent .div3 {
            grid-area: 1 / 4 / 2 / 5;
        }

        #favoriteParent .div4 {
            grid-area: 2 / 3 / 3 / 4;
        }

        #favoriteParent .div5 {
            grid-area: 2 / 4 / 3 / 5;
        }
    }




}

/* #endregion MEDIA QUERIES */